{# templates/registration/confirmation_email.html.twig #}
<h1>Hello!</h1>

<p>Please confirm your email address by clicking the link below:</p>

<p><a href="{{ signedUrl|raw }}">Confirm my email</a></p>

<p>This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>If you didn't create an account, you can ignore this message.</p>